*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(starlight.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 30vw;
    background-color: #0e0d0d7e;
    padding-left: 5rem;
    padding-right: 5rem;
}



span{
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Cinzel';
}
.logo>img{
    height: 10rem;
}

.content{
    background-color: #ffffff;
    width: 70vw;
    height: 100vh;
    padding: 2rem;
    border-radius: 1rem;
}

.content h1{
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}

form{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: #b1afaf18;
    padding: 1.2rem;
    width: 100%;
    border-radius: 1rem;
}

.left{
    display: flex;
    flex-direction: column;
}

.right{
    display: flex;
    flex-direction: column;
}
label{
    font-weight: 700;
    margin-bottom: 0.3rem;
    color: #555;
}

input:focus{
    border-color: aqua;
    box-shadow: #333;
    outline: none;
}

input{
    padding: 0.5rem;
    border: solid #E5E7EB;
    border-radius: 0.5rem;
    transition: border 0.2s ease-in-out;
}

button{
    margin-top: 3rem;
    margin-left: 1rem;
    padding: 0.6rem;
    border-radius: 0.7rem;
    width: 10rem;
    color: #ffffff;
    background-color: rgba(23, 0, 128, 0.952);
    border-color: #ffffff;
    
}

a{
    text-decoration: none;
    color: rgba(9, 0, 128, 0.692);
}
p{
    margin-top: 0.5rem;
}

footer{
    margin-bottom: 0;
    margin-top: 6rem;

}

@media (max-width: 768px) {
    body {
      flex-direction: column;
      height: auto;
      padding: 1rem;
      background-attachment: scroll;
    }
  
    .logo {
      flex-direction: column;
      width: 100%;
      padding: 1rem;
      text-align: center;
    }
  
    .logo > img {
      height: 6rem;
    }
  
    span {
      font-size: 2rem;
    }
  
    .content {
      width: 100%;
      height: auto;
      padding: 1.2rem;
      border-radius: 0.8rem;
    }
  
    form {
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
    }
  
    .left,
    .right {
      width: 100%;
    }
  
    input,
    button {
      width: 100%;
    }
  
    button {
      margin-top: 1.5rem;
      margin-left: 0;
    }
  
    footer {
      margin-top: 2rem;
      text-align: center;
    }
  }
  
  
